
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #2a2a2a;
;
  /* min-height: 100vh; */
  justify-content: flex-start; 
}


.dashboard-card {
  flex: 0 1 300px; 
  max-width: 320px;
  max-height: 320px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
